{{define "title"}}Update appointment{{end}}

{{define "main"}}
<form action="/user/updateAppointment/{{.ID}}/{{.AppointmentID}}" method="post">
  {{if .AppointmentModel.Timeslots}}
    <div>
      <label>Time (1 hour timeslots):</label>
      <select name="time">
      {{range .AppointmentModel.Timeslots}}
        <option value="{{.}}">{{.}}</option>
      {{end}}
      </select>
    </div>
  {{else}}
    <div>
      <h3>No more open appointment slots</h3>
    </div>
  {{end}}
  <div>
    <button type="submit">Book</button>
  </div>
</form>
{{end}}
